<html>

<head>
    <title>Flask loyiha</title>    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <br><br>
    <header>
        <div style="display: flex;">
            <img src="../images/html.jfif" alt="html">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis rerum ex optio dolores a temporibus tempora totam atque nesciunt adipisci!</h1>
        </div>
        
    </header>
    <br><hr>
    <nav>
        <ul>
            <li class="p10"><a href="{{url_for('mongodb')}}">mongodb</a></li>            
                      
        </ul>
    </nav>
    <br>
    <br>
</body>
</html> 